// ==========================================================================
// Variables
// ==========================================================================
//
// Table of Contents:
//
//  1. Globals
//  2. Typography
//  3. Media Query
//

// 1. Globals
// ==========================================================================
//$container-mw:                  1280px !default;
$container-mw:                  1000px !default;

$spacer:                        1rem !default;

$border-width:                  1px !default;

$border-radius:               .25rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-sm:            .2rem !default;

// 2. Typography
// ==========================================================================

$font-stack: 'Poppins', sans-serif !default;
$font-title: 'Anton', sans-serif !default;
$font-subtitle: 'Barlow Condensed', sans-serif !default;

// Header & P Fontsizes 
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1.15rem !default;

$font-size-base: 1rem !default;
$font-size-lg: $font-size-base * 1.25 !default;
$font-size-sm: $font-size-base * .875 !default;

$line-height-base:            1.5 !default;
$line-height-lg:              1.5 !default;
$line-height-sm:              1.5 !default;

// Font Weights
$font-weight-100: 100 !default;
$font-weight-200: 200 !default;
$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-800: 800 !default;
$font-weight-900: 900 !default;

$font-weight-normal: $font-weight-400 !default;

$p-font-weight: $font-weight-normal !default;
$p-line-height: 110%;

// 3. Media Query
// ==========================================================================

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

// @media #{$medium-and-up} {}
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// 3. Buttons
// ==========================================================================
$btn-border-width:              1px !default;

$btn-padding-y:                 .375rem !default;
$btn-padding-x:                 .75rem !default;
$btn-font-size:               $font-size-base !default;
$btn-line-height:             $line-height-base !default;

$btn-padding-y-sm:              .25rem !default;
$btn-padding-x-sm:              .5rem !default;
$btn-font-size-sm:            $font-size-sm !default;
$btn-line-height-sm:          $line-height-sm !default;

$btn-padding-y-lg:              .5rem !default;
$btn-padding-x-lg:              1rem !default;
$btn-font-size-lg:            $font-size-lg !default;
$btn-line-height-lg:          $line-height-lg !default;

$btn-circle-padding:              .5rem !default;
$btn-circle-width:                40px;

$btn-font-weight:             $font-weight-500 !default;
$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius:           $border-radius !default;
$btn-border-radius-lg:        $border-radius-lg !default;
$btn-border-radius-sm:        $border-radius-sm !default;
